<div class="home-container">

  <header class="banner"
          *ngIf="bannerMovie"
          [style.backgroundImage]="'url(' + getImgUrl(bannerMovie.backdrop_path) + ')'">
    <div class="banner-contents">
      <h1 class="banner-title">
        {{ bannerMovie.title }}
      </h1>

      <div class="banner-buttons">
        <button class="banner-button play">▶ 재생</button>
        <button class="banner-button info">ⓘ 상세 정보</button>
      </div>

      <p class="banner-description">
        {{ bannerMovie.overview | slice:0:150 }}{{ (bannerMovie.overview?.length || 0) > 150 ? '...' : '' }}
      </p>
    </div>
    <div class="banner-fadeBottom"></div>
  </header>

  <div class="row">
    <h2>인기 영화 (Popular)</h2>
    <div class="row-posters">
      <img *ngFor="let movie of popularMovies"
           class="row-poster"
           [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path"
           [alt]="movie.title">
    </div>
  </div>

  <div class="row">
    <h2>최신 영화 (Now Playing)</h2>
    <div class="row-posters">
      <img *ngFor="let movie of nowPlayingMovies"
           class="row-poster"
           [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path"
           [alt]="movie.title">
    </div>
  </div>

  <div class="row">
    <h2>액션 스릴러 (Action)</h2>
    <div class="row-posters">
      <img *ngFor="let movie of actionMovies"
           class="row-poster"
           [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path"
           [alt]="movie.title">
    </div>
  </div>

  <div class="row">
    <h2>애니메이션 (Animation)</h2>
    <div class="row-posters">
      <img *ngFor="let movie of animationMovies"
           class="row-poster"
           [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path"
           [alt]="movie.title">
    </div>
  </div>

</div>
